/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #272822;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Colors List*/
/*dark pink: #C4666B; 
light pink: #fbf2f3; 
dark blue: #89D7DA; 
light blue: #BEE8E9; 
dark gray: #272822 
eggshell white: #FAFAF4 
light gray: #444*/


* {
    box-sizing: border-box;
    border: 1px solid transparent; 
}

body {
    background-color: #FAFAF4; 
}

/*TOP OF PAGE*/

img.topimage {
    display: block; 
    width: 33%; 
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: .5em;    
}

h1 {
    font-family:'varela', sans-serif;
    display: block;
    margin: 0 auto; 
    margin-top: .25em;
    margin-bottom: .5em;
    font-size: 3.5em;
    text-align: center;
    color: #444;
}

/*NAVIGATION*/

.header { /*navbar*/
    margin-bottom: 5px;
    background-color: #89D7DA;
    width: 100%;
}

  .header:after {
    content: "";
    width: 100%;
    display: block; 
  }

.topnavigation {
    display: inline-block;
    width: 100%;
    font-family: 'Pontano Sans', sans-serif;  
}

  .topnavigation ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
  }

  .topnavigation li {
      display: inline-block;
      text-align: justify;
  }

  .topnavigation ul li a {
        text-decoration: none;
        color: #272822;
        margin: 0;
        padding: 10px 15px 0 15px;
        text-align: justify;
        font-family: "Pontano Sans", sans-serif; 
        font-size: 1.5em;
    }

    .topnavigation ul li a:hover {
        color: #fbf2f3;
    }

.topnavigation:after {
    content:"";
    width: 100%;
    display: inline-block;
}

.active {
    color: #272822;
    background-color: #FBF2F3;
    text-decoration: underline;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sticky {
  top: 0;
}

h2 {
    font-family: 'varela', sans-serif;
    margin: auto 0;
    font-size: 2.75em;
    line-height: 1.4em;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

h2:after {
  content: "";
  position: relative;
  width: 50%;
  height: 1px;
  vertical-align: middle;
}

/*ABOUT SHELDON*/

div.section1 {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    background-color: #FAFAF4;
}

.section1 p {
    max-width: 40%;
    display: inline-block;
    margin-left: 3%;
    font-size: 1.5em;
}
.aboutimage {
    max-width: 45%;
    display: inline-block;
    float: right;
    margin-right: 3%;
}

/*PHOTOS & ART*/

div.section2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #EDCACC;
    padding-bottom: 3em;
    overflow: hidden;
}

.section2 p {
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.5em;
}

img.previous {
    float: left;
    margin-top: 11rem;
    cursor: pointer;
}

img.nextpic {
    float: left;
    margin-top: 11rem;
    cursor: pointer;
}

.photocarousel {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    clear: auto;
    overflow: hidden;
}

.pics {
    max-width: 60%;
    margin: 0 auto;
    float: left;
}

.photocenter {
  max-height: 70%; 
  margin-left: 30px;
}

/*DOG WALKER*/


.quote-carousel {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  text-align: center;
  background-color: #BEE8E9;
}

.quote-carousel p {
  font-size: 1.5em;
  font-family: "Pontano Sans", sans-serif;
}
.quote-carousel .quote-nav {
  display: block;
  width: 300px;
  margin: 0 auto;

}
.quote-carousel .quote-nav img {
  cursor: pointer;
}
.quote-carousel .quote-nav img:active {
  position: relative;
  top: 1px;
}

.quote-carousel .carousel-wrap {
  display: block;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.quote-carousel .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
  margin: -45px;
}
.quote-carousel .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  margin-right: 15px;
  padding-top: 10px;
}


p.quote {
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.65em;
  line-height: 1.5em;
  color: #797670;
  font-style: italic;
  padding-bottom: 4px;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 1px;
  padding-right: 1px;
  display: relative;
  color: #C4666B;
}

p.date-time {
  font-family: "Pontano Sans", sans-serif;
  text-align: left;
  padding-left: 3px;
  font-size: 1em;
  color: #272822;
}

/*PHOTO BREAK*/

div.photobreak {
    text-align: justify; 
    background-color: #FAFAF4;
    width: 100%;
}

.photobreak img {
    display: inline-block;

}
div.photobreak:after {
    content:"";
    width: 100%;
    display: inline-block;
}
img.circlepic {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin: 1em;
    margin-top: 2em;
}

/*Contact Sheldon*/
div.section5 {
    width: 100%;
    display: inline-block;
    background-color: #EDCACC;
    height: 30em;
}
.email {
  margin: 0 auto;
  display: block;
}

.section5 p {
  text-align: center;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.5em;
}

/*Who Made this Site?*/
div.section6 {
    width: 100%;
    background-color: #FAFAF4;
    height: 35em;

}

.section6 h2 a {
  hover: #BEE8E9;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

footer {
  font-family: "varela", sans-serif;
  background-color: #89D7DA;
  padding-left: 2em;
}


/*.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
